@inherits LayoutComponentBase

@using Autenticacion

@inject AuthenticationStateProvider authProvider
@inject NavigationManager navegador

<header class="navbar">
    <div class="navbar-menu">
        <div class="navbar-start">
            <SearchBox />
        </div>

        <div class="navbar-end">
            <a @onclick="CerrarSession">Cerrar sesion</a>
        </div>
    </div>
</header>

<main class="content has-gap">
    @Body
</main>

@functions {
    async Task CerrarSession() {
        var proveedor = (BlazorAuthenticationProvider) authProvider;

        await proveedor.CerrarSesion();
        navegador.NavigateTo("/");
    }
}