@inherits LayoutComponentBase

@using Autenticacion

@inject AuthenticationStateProvider authProvider
@inject NavigationManager navegador

<header>
    <div class="logo">
        <a href="/" class="button is-outline is-small">aurelia</a>
    </div>

    <div class="search">
        <SearchBox />
    </div>

    <nav>
        <a @onclick="CerrarSession">Cerrar sesion</a>
    </nav>
</header>

<main class="content has-gap">
    @Body

    <footer>
        <p>Desarrollado con 💖, en Bogotá.</p>
    </footer>
</main>

@functions {
    async Task CerrarSession() {
        var proveedor = (BlazorAuthenticationProvider) authProvider;

        await proveedor.CerrarSesion();
        navegador.NavigateTo("/");
    }
}