@inject HttpClient http
@inject NavigationManager navegador

<div id="searchbox">
    <input
        class="input"
        type="text"
        @bind="texto"
        @bind:event="oninput"
        @onkeyup="Buscar"
        placeholder="Buscar..." />

    <div class="@(mostrarBarra ? "suggestions visible" : "suggestions invisible")">
        <!-- usuarios -->

        @if (contadorUsuarios is string) {
            <a @onclick="RedigirBusquedaUsuario" class="suggestion">
                <p>Usuarios</p>
                <span class="button is-static is-small">@contadorUsuarios</span>
            </a>
        }

        <a class="suggestion">
            <p>Buscar "@texto"</p>
            <span class="button is-static is-small">En todo</span>
        </a>
    </div>
</div>

@code {
    bool mostrarBarra {
        get {
            return !string.IsNullOrWhiteSpace(texto);
        }
    }

    string texto;
    string contadorUsuarios;

    private async Task Buscar() {
        await BuscarUsuarios();
    }

    private async Task BuscarUsuarios() {
        string url = $"/api/usuario?buscar={texto}";

        try {
            var listado = await http.GetFromJsonAsync<Usuario[]>(url);

            if (listado.Length > 9) {
                contadorUsuarios = "+9";
            }

            else if (listado.Length == 0) {
                contadorUsuarios = null;
            }

            else {
                contadorUsuarios = listado.Length.ToString();
            }
        }

        catch {
            contadorUsuarios = null;
        }
    }

    // redirecciones

    private void RedigirBusquedaUsuario() {
        navegador.NavigateTo($"/usuario/{texto}", true);
    }
}