@inject AuthenticationStateProvider authProvider
@inject ILocalStorageService localStorage
@inject HttpClient http

<div class="headerbar">
    <box-icon name="menu" @onclick="ToggleSidebar"></box-icon>

    <div class="dropdown is-right is-hoverable">
        <div class="dropdown-trigger">
            @if (usuario is null)
            {
                <menu>
                    <h6>Espere...</h6>
                </menu>
            }

            else
            {
            <menu>
                <div class="user-data">
                    <h6>Hola @usuario.Nombre</h6>

                    <!-- cargo -->
                    
                    @if (cargo is null)
                    {
                        <p>Espere...</p>
                    }

                    else
                    {
                        <p>@( cargo.Nombre.ToCapitalize() )</p>
                    }
                </div>

                <box-icon name="chevron-down"></box-icon>
            </menu>
            }
        </div>

        <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a href="/perfil" class="dropdown-item">Mi cuenta</a>
                <a href="/bandeja" class="dropdown-item">
                    <span>Mis notificaciones</span>
                    <div class="tag is-light">@contadorNotificaciones</div>
                </a>

                <hr />

                <a class="dropdown-item" @onclick="SignOut">
                    <span>Cerrar sesión</span>
                    <box-icon name="x" size="1em"></box-icon>
                </a>
            </div>
        </div>
    </div>
</div>

@code {
    private Usuario usuario;
    private Cargo cargo;

    private string contadorNotificaciones = "0";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var provider = (Infraestructura.Sesiones.ProveedorAutenticacion) authProvider;
            usuario = await provider.GetUserAsync();

            cargo = await http.GetFromJsonAsync<Cargo>($"/api/cargo/{usuario.Cargo}");

            // contador de notificaciones

            var notificaciones = await http.GetFromJsonAsync<Notificacion[]>("/api/notificacion");
            contadorNotificaciones = notificaciones.Length > 9 ? "+9" : notificaciones.Length.ToString();
        }

        catch
        {
#if DEBUG
            throw;
#endif
        }
    }

    private async Task SignOut()
    {
        var proveedor = (Infraestructura.Sesiones.ProveedorAutenticacion) authProvider;
        await proveedor.SignOut();
    }

    private async Task ToggleSidebar()
    {
        bool showSidebar = false;

        try
        {
            showSidebar = await localStorage.GetItemAsync<bool>("show_sidebar");
            await localStorage.SetItemAsync("show_sidebar", !showSidebar);
        }

        catch
        {
            showSidebar = false;
#if DEBUG
            throw;
#endif
        }
    }
}