@inject AuthenticationStateProvider authProvider
@inject NavigationManager navegador

@using Infraestructura.Sesiones

<aside class="aside">
    <nav class="menu">
        <div class="media">
            <div class="media-content">
                <p class="title is-6">Hola @(Usuario?.Nombre ?? "anonimo")</p>
                <p class="subtitle is-6">@(Usuario?.Correo ?? "Espere...")</p>
            </div>
        </div>

        <AuthorizeView Roles="usuarios">
            <p class="menu-label">USUARIOS</p>

            <ul class="menu-list">
                <li><a href="/usuario">Usuarios</a></li>
                <li><a href="/cargo">Cargos</a></li>
                <li><a href="/notificacion">Notificaciones</a></li>
            </ul>
        </AuthorizeView>

        <AuthorizeView Roles="solicitar, clientes">
            <p class="menu-label">CLIENTES</p>

            <ul class="menu-list">
                <li><a href="/cliente">Clientes</a></li>
                <AuthorizeView Roles="solicitar, pedidos" Context="auth">
                    <li><a href="/pedido">Solicitar</a></li>
                </AuthorizeView>
            </ul>
        </AuthorizeView>

        <AuthorizeView Roles="logistica">
            <p class="menu-label">LOGISTICA</p>

            <ul class="menu-list">
                <li><a href="/inventario">Inventario</a></li>
                <li><a href="/entrada">Entrada</a></li>
                <li><a href="/salida">Salida</a></li>
            </ul>
        </AuthorizeView>
    </nav>

    <div class="options">
        <div class="option" @onclick="IrPerfil">
            <ion-icon name="person-outline"></ion-icon>
        </div>

        <div class="option" @onclick="IrBandeja">
            <ion-icon name="file-tray-outline"></ion-icon>
        </div>

        <div class="option" @onclick="CerrarSesion">
            <ion-icon name="exit-outline"></ion-icon>
        </div>
    </div>
</aside>

@code {
    private Usuario Usuario;

    protected override async Task OnInitializedAsync()
    {
        var provider = (ProveedorAutenticacion) authProvider;
        Usuario = await provider.GetUserAsync();
    }

    async Task CerrarSesion()
    {
        var proveedor = (ProveedorAutenticacion) authProvider;
        await proveedor.SignOut();
    }

    void IrBandeja()
    {
        navegador.NavigateTo("/bandeja");
    }

    void IrPerfil()
    {
        navegador.NavigateTo("/perfil");
    }
}