<aside class="aside @(Show ? "is-active" : "")">
    <nav class="menu">
        <div class="media">
            <div class="media-left">
                <img src="img/logo.png" alt="Logo de aurelia" />
            </div>

            <div class="media-content">
                <h5 class="title is-5">Aurelia</h5>
            </div>
        </div>

        <AuthorizeView Roles="usuarios">
            <ul class="menu-list">
                <li><a href="/usuario">Usuarios</a></li>
                <li><a href="/cargo">Cargos</a></li>
                <li><a href="/notificacion">Notificaciones</a></li>
            </ul>
        </AuthorizeView>

        <AuthorizeView Roles="solicitar, clientes">
            <ul class="menu-list">
                <li><a href="/cliente">Clientes</a></li>
                <AuthorizeView Roles="solicitar, pedidos" Context="auth">
                    <li><a href="/pedido">Solicitar</a></li>
                </AuthorizeView>
            </ul>
        </AuthorizeView>

        <AuthorizeView Roles="logistica">
            <ul class="menu-list">
                <li><a href="/inventario">Inventario</a></li>
                <li><a href="/entrada">Ingresos</a></li>
                <li><a href="/salida">Egresos</a></li>
            </ul>
        </AuthorizeView>
    </nav>
</aside>

@code {
    [Parameter]
    public bool Show { get; set; } = false;
}