@inject HttpClient http

@attribute [Authorize(Roles = "usuarios")]

@page "/cargo"
@layout AppLayout

<h3 class="title is-3">Cargos</h3>

<div class="buttons">
    <a class="button is-primary" href="/cargo/registrar">Registrar cargo</a>
</div>

<hr />

@if (ListadoCargos is null)
{
    <div class="loader"></div>
}

else
{
    <div class="columns is-multiline">
        @foreach (var cargo in ListadoCargos)
        {
            <TarjetaCargo cargo="@cargo" />
        }
    </div>
}

@code {
    private Cargo[] ListadoCargos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ObtenerListado();
    }

    private async Task ObtenerListado()
    {
        try
        {
            ListadoCargos = await http.GetFromJsonAsync<Cargo[]>("/api/cargo");
        }

        catch
        {
            ListadoCargos = new Cargo[0];
        }
    }
}
