@inject HttpClient http

@attribute [Authorize(Roles = "usuarios")]

@page "/cargo"
@layout AppLayout

@if (cargos is null)
{
    <div class="loader is-medium"></div>
}

else
{
    <h3 class="title is-3">Listar cargos</h3>

    <div class="buttons">
        <a class="button is-primary" href="/cargo/registrar">Registrar cargo</a>
    </div>

    <div class="columns is-multiline">
        @foreach (Cargo cargo in cargos)
        {
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <TarjetaCargo cargo="@cargo" OnCargoEliminado="ObtenerListado" />
            </div>
        }
    </div>
}

@code {
    Cargo[] cargos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ObtenerListado();
    }

    async Task ObtenerListado()
    {
        try
        {
            cargos = await http.GetFromJsonAsync<Cargo[]>("/api/cargo");
        }

        catch
        {
            cargos = new Cargo[0];
        }
    }
}
