@inject HttpClient http
@inject NavigationManager navegador
@inject IToastService toaster

@attribute [Authorize(Roles = "usuarios")]

@page "/cargo/registrar"
@layout AppLayout

<div class="level">
    <div class="level-left">
        <h3 class="title is-3">Registrar cargo</h3>
    </div>
    <div class="level-right">
        <nav class="breadcrumb is-small">
            <ul>
                <li><a href="/cargo">Cargo</a></li>
                <li class="is-active"><a href="#">Registrar</a></li>
            </ul>
        </nav>
    </div>
</div>
<hr />

<EditForm Model="Cargo" OnValidSubmit="Enviar">
    <DataAnnotationsValidator />

    <FormField Label="Nombre">
        <TextField @bind-Value="Cargo.Nombre" />
        <FormFeedback For="() => Cargo.Nombre" Help="Nombre que identifica el cargo (debe ser único)" />
    </FormField>

    <FormField>
        <CheckboxField @bind-Value="Cargo.Pedidos">
            <span>Tendrá permiso para supervisar los pedidos.</span>
        </CheckboxField>
    </FormField>

    <FormField>
        <CheckboxField @bind-Value="Cargo.Usuarios">
            <span>Puede crear usuarios y asignar cargos. (También creará notificaciones para el personal)</span>
        </CheckboxField>
        <FormFeedback For="() => Cargo.Usuarios" />
    </FormField>

    <FormField>
        <CheckboxField @bind-Value="Cargo.Logistica">
            <span>Tendrá acceso al inventario, con lo que podrá realizar entradas y salidas del mismo.</span>
        </CheckboxField>
    </FormField>

    <FormField>
        <CheckboxField @bind-Value="Cargo.Clientes">
            <span>Manejará la información de los clientes en el sistema.</span>
        </CheckboxField>
    </FormField>

    <FormField>
        <CheckboxField @bind-Value="Cargo.Solicitar">
            <span>Podrá solicitar pedidos a nombre de los clientes (usar para asesores comerciales).</span>
        </CheckboxField>
    </FormField>

    <div class="level">
        <div class="level-left">
            <span></span>
        </div>
        <div class="level-right">
            <FormButtons IsLoading="Cargando">
                <CancelButton To="/cargo">Cancelar</CancelButton>
                <SubmitButton>Registrar</SubmitButton>
            </FormButtons>
        </div>
    </div>
</EditForm>

@code {
    private Cargo Cargo { get; set; } = new Cargo();

    private bool Cargando = false;

    private async Task Enviar()
    {
        Cargando = true;

        try
        {
            HttpResponseMessage respuesta = await http.PostAsJsonAsync("/api/cargo", Cargo);

            if (respuesta.IsSuccessStatusCode)
            {
                navegador.NavigateTo("/cargo");
            }

            else
            {
                toaster.ShowWarning("No se logro realizar el registro, verifica los datos e intenta nuevamente");
            }
        }
        catch
        {
            toaster.ShowError("Hubo un error desconocido, intenta más tarde");
            #if DEBUG
            throw;
            #endif
        }

        finally
        {
            Cargando = false;
        }
    }
}