# by adwher

bin/
obj/
TestResults/
.vscode/
.vs/

# archivos

.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
packages
NuGet.exe
_[Ss]cripts
*.exe
*.dll
*.nupkg
*.ncrunchsolution
*.dot[Cc]over
*.env

# compilado

*.com
*.class
*.dll
*.exe
*.pdb
*.dll.config
*.cache
*.suo

# log

.log/
*.log