@inject HttpClient http

@page "/cargo"
@layout AppLayout

@if (cargos is null) {
    <div class="loader is-medium"></div>
}

else {
    <h2>Listar cargos</h2>

    <a class="button is-prime" href="/cargo/registrar">Registrar cargo</a>

    <div class="grid xs-1 md-2 has-gap">
        @foreach (Cargo cargo in cargos) {
            <TarjetaCargo cargo="@cargo" OnCargoEliminado="ObtenerListado" />
        }
    </div>
}

@code {
    Cargo[] cargos { get; set; }

    protected override async Task OnInitializedAsync() {
        await ObtenerListado();
    }

    async Task ObtenerListado() {
        try {
            cargos = await http.GetFromJsonAsync<Cargo[]>("/api/cargo");
        }

        catch {
            cargos = new Cargo[0];
        }
    }
}
