@inject Microsoft.JSInterop.IJSRuntime runtime

<div id="landing">
    <header class="topbar">
        <div class="container">
            <div class="brand">
                <img src="/img/logo.png" alt="Logo Aurelia" />
                <h5 class="title is-5">Aurelia</h5>
            </div>

            <div class="options">
                <nav>
                    <ul>
                        <li><a href="#begin">Inicio</a></li>
                        <li><a href="#features">Características</a></li>
                        <li><a href="#contact">Contacto</a></li>
                    </ul>
                </nav>
            </div>

            <div class="buttons">
                <a href="/iniciar_sesion" class="button is-primary">Iniciar sesión</a>
            </div>
        </div>
    </header>

    <main class="main">
        <section class="sliding">
            <h2 id="begin" class="title is-2">Aurelia</h2>

            <slider>
                <tab>
                    <p>Sistema de información orientado a la parte de inventario y pedidos de una empresa. Este software podrá adaptarse a su empresa.</p>
                </tab>

                <tab>
                    <p>Si ya eres un usuario y quieres empezar a explorar nuestros apartados puedes hacerlo. <b>Oye!</b> Solo podrás ver las secciones a las cuales estes autorizado.</p>
                    <div class="buttons">
                        <a href="/iniciar_sesion" class="button is-primary">Iniciar sesión</a>
                    </div>
                </tab>
            </slider>
        </section>

        <section class="features">
            <article class="feature">
                <ion-icon name="cloud-outline" size="large"></ion-icon>
                <p>La información y ubicación del software es totalmente en la nube.</p>
            </article>

            <article class="feature">
                <ion-icon name="file-tray-stacked-outline" size="large"></ion-icon>
                <p>Almacena tu inventario con las existencias al día, actualizandose segundo a segundo.</p>
            </article>

            <article class="feature">
                <ion-icon name="bug-outline" size="large"></ion-icon>
                <p>Se hace manejo de roles los cuales permiten la autorización en las vistas y módulos.</p>
            </article>
        </section>

        <section class="details">
            <h3 id="features" class="title is-3">Detalles</h3>

            <article class="detail">
                <div class="image">
                    <img src="/img/screen.png" alt="Modulo de inventario">
                </div>

                <div class="content">
                    <h4 class="title is-4">Inventario</h4>
                    <p>En esta parte del sistema podrás actualizar las existencias de tus productos, realizando también entradas y ventas que modificarán la cantidad de stock que se encuentre en tu inventario.</p>
                </div>
            </article>

            <article class="detail">
                <div class="image">
                    <img src="/img/screen.png" alt="Modulo de Pedidos">
                </div>

                <div class="content">
                    <h4 class="title is-4">Pedidos</h4>
                    <p>Asesor de venta, este apartado es para ti. Podrás realizar los pedidos para tus clientes, especificando qué producto desea, cuánta cantidad y para cuando quiere que le sea entregado.</p>
                </div>
            </article>
        </section>

        <section class="contact">
            <h3 id="contact" class="title is-3">Contacto</h3>

            <form>
                <div class="field">
                    <label for="fullname" class="label">Nombre</label>
                    <input type="text" class="input" placeholder="Ej. Andres Celis">
                </div>

                <div class="field">
                    <label for="mail" class="label">Email</label>
                    <input type="email" class="input" placeholder="hello@mail.com">
                </div>

                <div class="field">
                    <label for="mail">Mensaje</label>
                    <textarea class="textarea" rows="3" placeholder="Hello world!"></textarea>
                </div>

                <div class="buttons">
                    <button type="submit" class="button is-primary">Enviar</button>
                </div>
            </form>
        </section>
    </main>

    <footer class="footer">
        <div class="content is-small">
            <div class="brand">
                <img src="/img/logo.png" alt="Logo aurelia" />
            </div>

            <p>Bogotá, D.C 2020 - 2021, Todos los derechos reservados. Desarrollo con 💖 por Kuic, conformado por Johan Sebastian Vargas Sanchez, Amy Lorena Cuadros Herran y Andres Camilo Celis Pacheco.</p>
        </div>
    </footer>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await runtime.InvokeAsync<object>("loadSlidingPage", null);
    }
} 
