<h2 class="title is-2">Tenemos que hablar...</h2>
<hr />
<AuthorizeView>
    <Authorized>
        <section>
            <p>Lamentamos que tengas que ver esto, pero no tienes permisos para entrar a este apartado del sistema, si quieres te podemos llevar de vuelta a la página inicial y sigas sacando el mejor provecho de tus habilidades. Si tienes dudas, puede contactar con el administrador del sistema.</p>
            <br />
            <div class="buttons">
                <a href="/" class="button is-primary">Ir al inicio</a>
            </div>
        </section>
    </Authorized>

    <NotAuthorized>
        <section>
            <p>Para ingresar a este apartado necesitas haber iniciado sesión previamente. <a href="/iniciar_sesion">Iniciar sesión ahora</a>.</p>
        </section>
    </NotAuthorized>
</AuthorizeView>