@page "/terminos"
@layout AppLayout
@attribute [Authorize]

    <div class="content">
        <h3 class="title is-3 has-text-centered">Política de Privacidad</h3>
        <p>
            Aurelia tiene como compromiso el respeto por la privacidad de los usuarios y la protección y seguridad de sus datos personales.
            Con este texto busca informar al usuario sobre la forma en que Aurelia trata los datos personales que le son facilitados a través
            del sitio. Antes de utilizar el sitio, el usuario debe leer con atención esta política de privacidad y decidir, de
            manera libre, si desea proporcionar sus datos personales a Aurelia
        </p>

        <p>
            El usuario garantiza que es mayor de edad y que los datos comunicados son verdaderos, exactos, completos y actuales, siendo responsable
            por cualquier disconformidad. Si los datos facilitados pertenecen a un tercero, el usuario garantiza que ha informado a dicho tercero
            sobre las condiciones previstas en este documento y que ha obtenido su autorización para proporcionar sus datos a Aurelia para los fines
            indicados.
        </p>
        <br />
        <h5 class="title is-5 has-text-centered">1. Ámbito de aplicación y responsable por el tratamiento de datos</h5>

        <p>
            Esta política de privacidad se aplica a todos los datos personales recopilados a través de los formularios existentes en el sitio donde
            se diligencien datos personales de usuarios.
        </p>

        <p>
            Puede ponerse en contacto con Aurelia sobre cualquier cuestión relacionada con la presente política de privacidad, al indicar como asunto
            «Aurelia - Privacidad de datos personales» y a través del siguiente punto de contacto:
        </p>
        <ul>
            <li>Dirección de correo electrónico: </li>
        </ul>
        <br />
        <h5 class="title is-5 has-text-centered">2. Finalidades del tratamiento y fundamento jurídico</h5>

        <p>
            Los datos personales recopilados a través de los formularios existentes en el sitio se destinan a permitir las siguientes operaciones:
        </p>
        <ul>
            <li>Almacenar y recopilar los datos del usuario como referencia en nuestra empresa</li>
            <li>Envío regular de información por correo electrónico </li>
        </ul>

        <p>
            El tratamiento de datos personales es necesario para efectuar las operaciones anteriormente mencionadas y constituye su fundamento en
            la autorización del respectivo titular cuando dirige el asunto a Aurelia y solicita que el mismo sea objeto de consideración.
        </p>
        <h5 class="title is-5 has-text-centered">3. Plazo de conservación</h5>

        <p>
            Los datos recopilados se conservarán durante un período de cinco años, sin perjuicio del responsable de poder mantenerlos más allá del
            período para el cumplimiento de obligaciones legales o con fines de archivo histórico de la empresa, mediante la aplicación, en este
            último caso, de medidas técnicas y organizativas adecuadas.
        </p>

        <h5 class="title is-5 has-text-centered">4. Derechos de los usuarios</h5>

        <p>
            El usuario tiene el derecho de solicitar a Aurelia el acceso a los datos personales que le conciernen, así como su rectificación o
            supresión, y la limitación del tratamiento en lo que se refiere al usuario o el derecho de oponerse al tratamiento, así como el derecho
            a la portabilidad de los datos, en virtud de las leyes que rigen el tratamiento de los datos personales.
        </p>

        <p>
            El usuario también tiene el derecho de presentar una reclamación a la Comisión Nacional de Protección de Datos, si entiende que sus derechos
            sobre sus datos personales han sido infringidos.
        </p>

        <h3 class="title is-3 has-text-centered">Términos y Condiciones</h3>
        <h5 class="title is-5 has-text-centered">1. Introducción</h5>

        <p>
            Estos Términos y condiciones regulan el acceso y uso del sitio web, bajo la responsabilidad de Aurelia. Cualquier cuestión legal relacionada
            con el sitio web se podrá consultar en las secciones Política de privacidad y Política de cookies, que forman parte integral de estos
            Términos y condiciones.
        </p>
        <p>
            El uso de este sitio web por parte de cualquier usuario se regirá por los siguientes Términos y condiciones, y su uso implica una aceptación
            de los mismos por el usuario. Si el usuario rechaza estos Términos y condiciones, debe cesar el uso del mismo.
        </p>
        <p>
            Aurelia podrá modificar o actualizar, de manera total o parcial, estos Términos y condiciones, así como la Política de privacidad y la
            Política de cookies. Cualquier cambio o actualización de estos Términos y condiciones, así como los de la Política de privacidad y
            Política de cookies, entrarán en vigor tan pronto como se publiquen en la sección correspondiente del sitio web. Se aconseja a los
            usuarios consultar regularmente las secciones de los Términos y condiciones, la Política de privacidad y la Política de cookies para
            comprobar las versiones más actualizadas.
        </p>
        <p>
            El acceso y uso del sitio web están disponibles exclusivamente para uso personal y promoción de la actividad de Aurelia
        </p>
        <p>
            Aurelia se reserva el derecho de evaluar, a su entera discreción, el cumplimiento de estos Términos y condiciones por parte de cualquier
            usuario. La violación de los Términos y condiciones podrá implicar la retirada de la licencia de uso concedida por Aurelia, en virtud de
            esta cláusula n.º 1 y, así, ejercer sus derechos en la máxima extensión posible permitida por la ley.
        </p>
        <p>
            Los usuarios se comprometen a indemnizar y exonerar a Aurelia, así como a los representantes legales, socios y trabajadores, de cualquier
            daño, responsabilidades, reclamaciones o solicitudes de compensación, incluidos los gastos y costes de representación, solicitados por
            terceros como consecuencia del uso del sitio web en disconformidad con estos Términos y condiciones o en virtud de la violación de las
            condiciones previstas en los mismos o que resulten del incumplimiento de las representaciones y garantías contenidas en estos Términos y
            condiciones.
        </p>

        <h5 class="title is-5 has-text-centered">2. Licencia</h5>

        <p>
            Sin perjuicio de lo establecido en las demás cláusulas de estos Términos y condiciones, Aurelia autoriza a cualquier usuario a utilizar este
            sitio web únicamente con fines empresarios, según lo previsto en estos Términos y condiciones. La licencia de uso podrá ser
            revocada por Aurelia, a su entera discreción y en cualquier momento. En virtud de la ley y de estos Términos y condiciones, el usuario no
            podrá copiar, utilizar, transferir, alquilar, sublicenciar, alterar, adaptar, intentar modificar o cambiar el código fuente, realizar
            operaciones de ingeniería inversa, decompilar o desmantelar, de manera total o parcial, el contenido del sitio web. Al acceder al sitio web,
            el usuario reconoce y acepta que el contenido del mismo podrá estar incompleto, inexacto, no actualizado o que no podrá satisfacer sus
            necesidades y requisitos.
        </p>

        <h5 class="title is-5 has-text-centered">3. Contenido y limitación de responsabilidad de Aurelia</h5>

        <p>
            El acceso y uso del sitio web, incluida la visualización de páginas web, forman parte de las actividades realizadas por los usuarios.
        </p>
        <p>
            Los usuarios son los únicos y exclusivos responsables por el uso del sitio web y de sus contenidos. Aurelia no es responsable, ni asume
            responsabilidades por el uso (si lo hubiere) del sitio web, no conforme a las disposiciones legales en vigor por los usuarios de manera.
        </p>
        <p>
            En concreto, los usuarios son los únicos responsables por la comunicación de información o datos incorrectos, falsos o de terceros, sin su
            consentimiento, así como por el uso incorrecto de los mismos.
        </p>
        <p>
            Los contenidos del sitio web pueden contener imprecisiones o errores tipográficos. Aurelia no es, ni podrá ser responsable, por cualquier
            medio o modo, por las imprecisiones y los errores, daños (si existen) causados o que resulten del uso de información derivada del sitio
            web o mediante el sitio web por parte de los usuarios. El usuario es el único y exclusivo responsable por la evaluación de la información y
            los contenidos obtenidos a través del sitio web.
        </p>
        <p>
            El sitio web y toda la información y contenidos publicados en el mismo pueden ser modificados por Aurelia en cualquier momento,
            periódicamente y sin previo aviso.
        </p>
        <p>
            Considerando que cualquier contenido que se descargue o que se obtenga de otro modo, resultan de la decisión libre del usuario y se realizan
            por su cuenta y riesgo, cualquier daño (si existe) a los ordenadores o pérdida de datos que resulten de las operaciones de descarga
            realizadas por el usuario, será responsabilidad exclusiva del usuario y no podrá ser atribuida a Aurelia, Aurelia no asume ninguna
            responsabilidad por daños (si existen) que resulten de la imposibilidad de acceso a los servicios ofrecidos a través del sitio web o por
            datos (si existen) causados por virus, archivos dañados, errores, omisiones, interrupciones del servicio, cancelación de contenidos, temas
            relacionados con el Internet, prestadores de servicios o con la conexión telefónica o telemática, accesos no autorizados, cambios de datos
            o relacionados con la inexistencia o el mal funcionamiento de los dispositivos electrónicos del usuario.
        </p>
        <p>
            El usuario es responsable de la custodia y correcto uso de su información personal, así como responsable de cualquier daño o perjuicio
            causado a Aurelia o a terceras partes, que resulten del uso incorrecto, pérdida o robo de la información personal.
        </p>
        <p>
            En los casos de registro, el usuario es responsable de la custodia y correcto uso de sus credenciales, las cuales permiten el acceso al
            área reservada de los servicios. En estas circunstancias, el usuario será responsable de crear su nombre de usuario y contraseña. El
            usuario también será responsable por la presentación de información específica, la cual deberá ser correcta y actualizada. El usuario no
            podrá elegir un nombre de usuario que pertenezca a un tercero con la intención de utilizar su identidad. Del mismo modo, el usuario no
            podrá utilizar el nombre de usuario de un tercero sin su consentimiento expreso.
        </p>

        <p>
            El usuario deberá garantizar la confidencialidad de su contraseña y no deberá compartirla con terceros.
        </p>
        <p>
            El usuario es total y exclusivamente responsable de cualquier acción realizada a través de su cuenta de usuario, directamente o mediante
            terceros autorizados por el usuario. Aurelia podrá revocar la licencia, a su entera discreción y en cualquier momento, si se identifica la
            práctica de cualquier acto abusivo, fraudulento o ilegal.
        </p>
        <p>
            Aurelia ha adoptado las medidas técnicas y organizativas adecuadas para salvaguardar la seguridad de los servicios que se prestan a través
            del sitio web, garantizando la integridad de los datos de tráfico electrónico relacionados con las formas de uso o conocimiento no
            autorizados, así como para evitar riesgos de diseminación, destrucción o pérdida de datos e información confidencial o no confidencial de
            sus usuarios, incluidos en el sitio web o relacionados con el acceso (no autorizado o en incumplimiento de las disposiciones legales
            aplicables) a dichos datos personales e información.
        </p>
        <p>
            Aurelia no puede, ni podrá garantizar que el sitio web esté libre de virus o de cualquier otro elemento que pueda afectar negativamente la
            tecnología.
        </p>

        <h5 class="title is-5 has-text-centered">4. Acceso al sitio Web. Interrupción y suspensión</h5>

        <p>
            Aurelia hace todo lo posible para proporcionar el acceso continuo al sitio web. Sin embargo, el acceso al sitio web podrá ser suspendido,
            limitado o interrumpido, en cualquier momento, independientemente del motivo. El acceso al sitio web podrá ser limitado ocasionalmente
            para permitir la recuperación, mantenimiento o introducción de nuevas funcionalidades o servicios. Aurelia hará todo lo posible para
            recuperar el acceso a la mayor brevedad posible. Aurelia se reserva el derecho de bloquear el acceso a cualquier material o eliminar
            cualquier material que pueda, a su entera discreción, provocar la violación de estos Términos y condiciones.
        </p>
        <p>
            Aurelia se reserva el derecho de cerrar las cuentas de los usuarios que violen estos Términos y condiciones, incluso en las situaciones en
            las que se comprueba que el usuario utiliza direcciones IP proxy con la intención de ocultar el uso de cuentas múltiples o desea ser
            identificado como si estuviera en un país diferente del cual efectivamente se encuentra o causa perturbaciones al funcionamiento del sitio
            web por cualquier medio.
        </p>

        <h5 class="title is-5 has-text-centered">5. Protección de datos personales</h5>

        <p>
            Se aconseja a los usuarios que lean y analicen la Política de privacidad, que forma parte integral de estos Términos y condiciones, para
            comprender cómo el sitio web recopila y utiliza los datos personales de los usuarios y cuáles son sus respectivos fines.
        </p>

        <h5 class="title is-5 has-text-centered">6. Derechos de propiedad intelectual</h5>

        <p>
            Todos los derechos son reservados. El sitio web y todos sus contenidos, incluidos, sin limitación, artículos, opiniones, otros textos,
            listas, manuales de uso, fotografías, diseños, imágenes, videoclips o audios o textos de mercadotecnia, así como marcas, logotipos, nombres
            de dominio y cualquier otro elemento que pueda ser cubierto por derechos de propiedad (incluidos los códigos fuente) y otras modalidades de
            derechos de propiedad intelectual (en lo sucesivo, «Material»), son propiedad de Aurelia, y están protegidos contra el uso,
            la copia o la divulgación no autorizada por las leyes nacionales y tratados internacionales relacionados con los Derechos de Propiedad
            Intelectual. Ninguna de las disposiciones de los Términos y condiciones o de los contenidos en el sitio web podrán interpretarse
            implícitamente otorgando, aceptando o por cualquier medio licenciado el derecho de uso de cualquier Material por cualquier medio, sin el
            previo consentimiento por escrito de Aurelia o del tercero propietario del Material o de los derechos de propiedad intelectual publicados
            en el sitio web. El uso, copia, reproducción, alteración, reedición, actualización, descarga, envío por correo electrónico, transmisión,
            distribución o duplicación o cualquier otro acto abusivo del Material sin identificar específicamente, pero de idéntica naturaleza, están
            prohibidos. En su calidad de usuario del sitio web, el usuario se compromete a no utilizar el Material para fines ilegales y a no violar
            los derechos de Aurelia
        </p>
        <p>
            Sin embargo, el usuario podrá ver y exhibir el contenido del sitio web o el Material en la pantalla de un ordenador, almacenar dicho
            contenido en formato electrónico en el disco (pero no en un servidor, ni en un dispositivo de memoria conectado a Internet) o imprimir
            una copia de dichos contenidos para su uso personal y no comercial, pero debe mantener toda la información relacionada con los derechos
            de propiedad intelectual.
        </p>
        <p>
            El acceso al sitio web no confiere al usuario ningún derecho sobre los contenidos ofrecidos por Aurelia
        </p>

        <h5 class="title is-5 has-text-centered">7. Enlaces a otros sitios web</h5>

        <p>
            Si el sitio web proporciona enlaces («Links») a sitios web de terceros o a contenidos ofrecidos por terceros («Otros sitios web»),
            Aurelia informa que los enlaces, a tales Otros sitios web, solo se incluyen para fines exclusivamente informativos y para la comodidad
            del usuario. Aurelia no controla los Otros sitios web y, por lo tanto, no es responsable por tales Otros sitios web o por los contenidos
            o productos que los Otros sitios web (incluida, sin limitación, la referencia a las redes sociales) y no es responsable por cualquier daño
            o perjuicio que puedan resultar del uso de los Otros sitios web por el usuario, así como el tratamiento de datos personales durante las
            operaciones de navegación por Internet. El acceso a cualquier Otro sitio web, mediante un enlace existente en el sitio web de Aurelia, se
            realizará bajo la exclusiva responsabilidad y riesgo del usuario.
        </p>
        <p>
            Por lo tanto, el usuario deberá prestar especial atención al conectarse a Otros sitios web a través de enlaces en el sitio web de Aurelia y
            leer cuidadosamente los respectivos términos y condiciones y políticas de privacidad.
        </p>

        <h5 class="title is-5 has-text-centered">8. Representaciones y garantías del usuario</h5>

        <p>El usuario reconoce y declara que:</p>

        <p>a) ha leído y comprendido estos Términos y condiciones;</p>

        <p>
            b) se abstendrá de reproducir, duplicar, copiar, vender, revender o por cualquier medio, explotar comercialmente el sitio web o sus
            contenidos o parte de los mismos, así como se abstendrá de utilizar o reproducir las marcas o cualquier derecho de propiedad intelectual o
            industrial de Aurelia;
        </p>
        <p>
            c) no publicará o utilizará información falsa, injuriosa o difamatoria;
        </p>
        <p>
            d) se abstendrá de utilizar, directa o indirectamente, los servicios o el sitio web para fines contrarios a la ley o no conformes con los
            principios contenidos en estos Términos y condiciones;
        </p>
        <p>
            e) no propagará virus, programas espías, software publicitario, rootkit, puerta trasera o virus troyanos u otras amenazas informáticas
            similares;
        </p>
        <p>
            f) no utilizará software u otros mecanismos automáticos o manuales para copiar o acceder al control del sitio web o de su contenido.
        </p>

        <h5 class="title is-5 has-text-centered">9. Disposiciones diversas</h5>

        <p>
            La nulidad de alguna de las disposiciones contenidas en estos Términos y condiciones se habrán de suprimir de estos, quedando las restantes
            disposiciones del mismo en vigor y surtirán sus efectos.
        </p>
        <p>
            Este acuerdo se regirá por el derecho portugués y se interpretará de acuerdo con la ley portuguesa, de acuerdo con los acuerdos
            celebrados y realizados en este país. A falta de acuerdo entre las partes, los conflictos y las controversias de cualquier naturaleza en
            relación con la formación, aplicación o interpretación de este acuerdo, serán resueltos definitivamente por los tribunales judiciales,
            con renuncia expresa a cualquier otro.
        </p>
        <p>
            El usuario podrá ponerse en contacto con nosotros para cualquier pregunta relacionada con los Términos y condiciones o para cualquier asunto
            relacionado con el uso del sitio web, mediante carta certificada con acuse de recibo para la dirección Aurelia o por correo electrónico a
            Aurelia
        </p>
    </div>

@code {

}
