$header-height: 6rem;

#landing {
    min-width: 100vw;
    min-height: 100vh;
    padding: 0 $padding;

    @media(min-width: 720px) {
        background-image: url("../img/background.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

#landing > main {
    padding: ($header-height + $padding) 0 $padding 0;
    margin: 0 auto;
    max-width: $max-with;

    @media(max-width: 720px) {
        max-width: 100%;
    }
}

@import "./header.scss";
@import "./sections.scss";
@import "./footer.scss";
@import "./slide.scss";
