#landing > header {
    width: $max-with;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    &.is-active {
        background: white;
        border-bottom: solid 1px #eee;
    }

    .logo {
        display: flex;

        img {
            width: 7rem;
        }
    }

    nav ul {
        display: flex;

        li {
            a {
                color: $text;
            }

            &:not(:last-child) {
                margin-right: 4rem;
            }
        }
    }

    @media(max-width: 720px) {
        width: 100%;

        .logo {
            display: none;
        }
    }
}