.slide-move,
.slide-enter-active,
.slide-leave-active {
    transition: transform ease 0.6s;
}

.slide-enter-active {
    transition: transform ease 0.6s, opacity ease 1s;
}

.slide-enter {
    opacity: 0;
    transform: translateX(-4rem);
}

.slide-enter-to {
    opacity: 1;
}

.slide-leave-active {
    opacity: 0;
    transform-origin: left center;
    position: absolute;
}

.slide-leave-to {
    opacity: 0;
    display: none;
    transform: translateX(-4rem);
}

#sliding {
    .dots {
        $size: 0.8rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax($size, $size));
        grid-gap: 1rem;
        margin-top: 2rem;
        
        .dot {
            width: $size;
            height: $size;
            background: rgba(0,0,0,0.15);
            border-radius: $size;
            cursor: pointer;
            transition: ease transform 0.2s;
            
            &.is-active {
                border-radius: $size / 4;
                background: #111;
                transform: rotate(45deg);
            }
        }
    }
}
