@inject HttpClient http
@inject NavigationManager navegador
@attribute [Authorize(Roles = "pedidos, solicitar")]

@page "/pedido"
@page "/pedido/{busqueda}"
@layout AppLayout

<div class="level">
    <div class="level-left">
        <h3 class="title is-3">Solicitudes</h3>
    </div>
    <div class="level-right">
        <div class="buttons">
            <AuthorizeView Roles="solicitar" Context="auth">

                <a href="/pedido/registrar" class="button is-primary">
                    <span class="icon">
                        <box-icon name='plus'></box-icon>
                    </span>
                    <span>Nuevo</span>
                </a>
            </AuthorizeView>
        </div>
    </div>
</div>

<hr />

@if (cargando)
{
    <div class="loader is-medium"></div>
}

else
{
    <div class="columns is-multiline">
        @foreach (var pedido in lista)
        {
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <TarjetaPedido pedido="pedido" OnPedidoEliminado="ObtenerListado" />
            </div>

        }
    </div>
}

@code {
    Pedido[] lista { get; set; }

    bool cargando = true;

    [Parameter]
    public string busqueda { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await ObtenerListado();
    }

    private async Task ObtenerListado()
    {
        cargando = true;
        HttpResponseMessage respuesta = await http.GetAsync($"/api/pedido?buscar={busqueda}");

        try
        {
            if (respuesta.StatusCode == HttpStatusCode.OK)
            {
                lista = await respuesta.Content.ReadFromJsonAsync<Pedido[]>();
            }

            else
            {
                lista = null;
            }
        }

        catch (Exception ex)
        {
            lista = new Pedido[0];
            Console.WriteLine(ex);
        }

        finally
        {
            cargando = false;
        }
    }
}
