@inject HttpClient http

@page "/categoria"
@layout AppLayout
@attribute [Authorize(Roles = "logistica")]

    
    <h3 class="title is-3">Listar Categorias</h3>

    @if (categoria == null)
    {
        <div class="buttons">
            <a href="/categoria/registrar" class="button is-primary">Agregar Categoria</a>
            <a href="/inventario" class="button is-primary">Ver Productos</a>
        </div>
        <div class="loader is-medium"></div>
    }
    else
    {
        <div class="buttons">
            <a href="/categoria/registrar" class="button is-primary">Agregar Categoria</a>
            <a href="/inventario" class="button is-primary">Ver Productos</a>
        </div>
        <div class="columns is-multiline">
            @foreach (Categoria categoria in categoria)
            {
                <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                    <TarjetaCategoria categoria="categoria" OnCategoriaEliminada="ObtenerListado"></TarjetaCategoria>
                </div>
            }
        </div>
    }

@code {
    Categoria[] categoria { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await ObtenerListado();
    }

    async Task ObtenerListado()
    {
        categoria = await http.GetFromJsonAsync<Categoria[]>("/api/categoria");
    }
}
