@inject HttpClient http

@page "/inventario"
@layout AppLayout

    <AuthorizeView Roles="logistica">
        <Authorized>
            <h3 class="title is-3">Listar Productos</h3>

            @if (productos is null)
            {
                <div class="buttons">
                    <a href="/producto/registrar" class="button is-primary">Agregar producto</a>
                    <a href="/categoria" class="button is-primary">Ver Categorias</a>
                </div>
                <div class="loader is-medium"></div>
            }

            else
            {
                <div class="buttons">
                    <a href="/producto/registrar" class="button is-primary">Agregar producto</a>
                    <a href="/categoria" class="button is-primary">Ver Categorias</a>
                </div>
                <div class="columns is-multiline">
                    @foreach (Producto producto in productos)
                    {
                        <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                            <TarjetaProducto producto="producto" OnProductoEliminado="ObtenerListado"></TarjetaProducto>
                        </div>
                    }
                </div>
            }
        </Authorized>
        <NotAuthorized>
            <p>No tienes permisos para esta vista</p>
        </NotAuthorized>
    </AuthorizeView>

@code {
    Producto[] productos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ObtenerListado();
    }

    async Task ObtenerListado()
    {
        try {
            productos = await http.GetFromJsonAsync<Producto[]>("/api/producto");
        }

        catch (Exception ex) {
            productos = new Producto[0];
            Console.WriteLine(ex.ToString());
        }
    }
}

