@inject HttpClient http

@page "/categoria"
@layout AppLayout
@attribute [Authorize(Roles = "logistica")]

    <div class="level">
        <div class="level-left">
            <h3 class="title is-3">Categorías</h3>
        </div>
        <div class="level-right">
            <div class="buttons">
                <a href="/categoria/registrar" class="button is-primary">
                    <span class="icon">
                        <box-icon name='plus'></box-icon>
                    </span>
                    <span>Categoría</span>
                </a>
                <a href="/inventario" class="button is-primary">
                    <span class="icon">
                        <box-icon name='show-alt'></box-icon>
                    </span>
                    <span>Productos</span>
                </a>
            </div>
        </div>
    </div>
<hr />

@if (categoria == null)
{
    <div class="loader is-medium"></div>
}
else
{
    <div class="columns is-multiline">
        @foreach (Categoria categoria in categoria)
        {
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <TarjetaCategoria categoria="categoria"></TarjetaCategoria>
            </div>
        }
    </div>
}

@code {
    Categoria[] categoria { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ObtenerListado();
    }

    private async Task ObtenerListado()
    {
        categoria = await http.GetFromJsonAsync<Categoria[]>("/api/categoria");
    }
}
