@inject HttpClient http
@inject NavigationManager navegador

@page "/categoria/modificar/{Id:int}"
@layout AppLayout

    <AuthorizeView Roles="logistica">
        <Authorized>
            <h3 class="title is-3">Editar categoria</h3>

            <form @onsubmit="Enviar">
                <div class="field">
                    <label class="label" for="nombre">Nombre</label>
                    <input id="nombre" class="input" type="text" @bind="categoria.Nombre" required />
                </div>

                <div class="field">
                    <label class="label" for="descripcion">Descripción</label>
                    <textarea id="descripcion" class="textarea" type="text" @bind="categoria.Descripcion"></textarea>
                    <small>Opcional</small>
                </div>

                <div class="control">
                    <button class="is-primary">Actualizar</button>
                    <a href="/categoria" class="button is-outlined">Cancelar</a>
                </div>
            </form>
        </Authorized>
        <NotAuthorized>
            <p>No tienes permisos para esta vista</p>
        </NotAuthorized>
    </AuthorizeView>
@code {
    [Parameter]
    public int Id { get; set; }

    Categoria categoria { get; set; }

    protected override async Task OnInitializedAsync()
    {
        categoria = await http.GetFromJsonAsync<Categoria>($"/api/categoria/{Id}");
    }

    async Task Enviar()
    {
        HttpResponseMessage respuesta = await http.PutAsJsonAsync($"/api/categoria/{Id}", categoria);

        if (respuesta.IsSuccessStatusCode)
        {
            navegador.NavigateTo("/categoria");
        }
    }
}