@inject HttpClient http
@inject NavigationManager navegador

    <div class="card">
        <div class="card-content">
            <div class="content">
                <div class="field">
                    <p><b>@producto.Nombre.ToCapitalize()</b></p>
                    <p>$@producto.Precio</p>

                    <span class="button is-static is-small">#@producto.Codigo</span>
                </div>

                <div class="field">
                    <p>
                        <a href="/entrada/registrar" class="button is-small">+</a>
                        <button class="button is-small is-static is-white">@producto.Existencias</button>
                        <a href="/salida/registrar" class="button is-small">-</a>
                    </p>
                </div>

            </div>
        </div>
        <div class="card-footer">
            <a class="card-footer-item" @onclick="Editar">Editar</a>

            @if (cargando)
            {
                <a class="card-footer-item" disabled>Eliminar</a>
            }

            else
            {
                <a class="card-footer-item" @onclick="Eliminar">Eliminar</a>
            }
        </div>
    </div>

@code {
    [Parameter]
    public Producto producto { get; set; }

    [Parameter]
    public EventCallback<Producto> OnProductoEliminado { get; set; }

    Categoria categoria { get; set; }

    bool cargando = false;

    protected override async Task OnInitializedAsync()
    {
        categoria = await http.GetFromJsonAsync<Categoria>($"/api/categoria/{producto.Categoria}");
    }

    async Task Eliminar()
    {
        cargando = true;
        HttpResponseMessage respuesta = await http.DeleteAsync($"/api/producto/{producto.Id}");

        if (respuesta.IsSuccessStatusCode && OnProductoEliminado.HasDelegate)
        {
            await OnProductoEliminado.InvokeAsync(producto);
        }

        cargando = false;
    }

    void Editar()
    {
        navegador.NavigateTo($"/producto/modificar/{producto.Id}");
    }
}
