@inject HttpClient http
@inject NavigationManager navegador

    <div class="card">
        <div class="card-content">
            <div class="content">
                <h6 class="title is-6">@categoria.Nombre.ToCapitalize()</h6>
                <p>@categoria.Descripcion.ToCapitalize()</p>
            </div>
        </div>
        <div class="card-footer">
            <a class="card-footer-item" @onclick="Editar">
                <span class="icon">
                    <box-icon name='edit-alt' color='#a69f99'></box-icon>
                </span>
            </a>
        </div>
    </div>

@code {
    [Parameter]
    public Categoria categoria { get; set; }

    void Editar()
    {
        navegador.NavigateTo($"/categoria/modificar/{categoria.Id}");
    }
}