$padding: 2.5rem;

#app {
    display: grid;
    grid-template-columns: minmax(15rem, 25%) 1fr;
    position: relative;

    &::before {
        content: "";
        display: block;
    }

    .main {
        padding: $padding;
    }
}
