<div class="toast notification @CssClass">
    @if (OnDelete.HasDelegate)
    {
        <button type="button" class="delete" @onclick="Delete"></button>
    }

    <span>@Toast.Body</span>
</div>

@code {
    [Parameter]
    public Toast Toast { get; set; }

    [Parameter]
    public EventCallback<Toast> OnDelete { get; set; }

    private string CssClass { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        CssClass = Toast.Type switch
        {
            ToastType.Danger => "is-danger",
            ToastType.Warning => "is-warning",
            ToastType.Success => "is-success",
            _ => "is-link"
        };
    }

    protected override void OnInitialized()
    {
        InvokeAsync(TimeOut);
    }

    private async Task TimeOut()
    {
        try
        {
            await Task.Delay(TimeSpan.FromSeconds(7));
        }

        catch
        {
            throw new TimeoutException();
        }

        finally
        {
            Delete();
        }
    }

    private void Delete()
    {
        if (OnDelete.HasDelegate)
        {
            OnDelete.InvokeAsync(Toast);
        }
    }
}
