@inject HttpClient http
@inject NavigationManager navegador
@inject IToastService toaster

@attribute [Authorize(Roles = "clientes, solicitar")]

@page "/cliente/modificar/{Id:int}"
@layout AppLayout

<h3 class="title is-3">Modificar Cliente</h3>

<EditForm Model="Cliente" OnValidSubmit="Enviar">
    <DataAnnotationsValidator />

    <FormField Label="Rut">
        <NumberField id="rut" @bind-Value="Cliente.Rut" disabled/>
        <FormFeedback For="() => Cliente.Rut" />
    </FormField>

    <FormField Label="Nombre">
        <TextField id="nombre" @bind-Value="Cliente.Nombre" />
        <FormFeedback For="() => Cliente.Nombre" />
    </FormField>

    <FormField Label="Encargado">
        <TextField id="encargado" @bind-Value="Cliente.Encargado" />
        <FormFeedback For="() => Cliente.Encargado" />
    </FormField>

    <FormField Label="Direccion">
        <TextField id="direccion" @bind-Value="Cliente.Direccion" />
        <FormFeedback For="() => Cliente.Direccion" />
    </FormField>

    <FormField Label="Correo">
        <EmailField id="correo" @bind-Value="Cliente.Correo" />
        <FormFeedback For="() => Cliente.Correo" />
    </FormField>

    <FormField Label="Telefono">
        <NumberField id="telefono" @bind-Value="Cliente.Telefono" />
        <FormFeedback For="() => Cliente.Telefono" />
    </FormField>

    <FormField>
        <CheckboxField @bind-Value="Cliente.Activo">
            <span>¿Va a estar activo en el sistema?</span>
        </CheckboxField>
    </FormField>

    <FormButtons IsLoading="Cargando">
        <CancelButton To="/cliente">Cancelar</CancelButton>
        <SubmitButton>Modificar</SubmitButton>
    </FormButtons>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }

    private Cliente Cliente = new Cliente();
    private bool Cargando = false;

    protected override async Task OnInitializedAsync()
    {

        Cliente = await http.GetFromJsonAsync<Cliente>($"/api/cliente/{Id}");
    }

    private async Task Enviar()
    {
        Cargando = true;

        try
        {
            HttpResponseMessage respuesta = await http.PutAsJsonAsync($"/api/cliente/{Id}", Cliente);

            if (respuesta.IsSuccessStatusCode)
            {
                navegador.NavigateTo("/cliente");
                toaster.ShowSuccess("Registro modificado exitosamente");

            }

            else
            {
                toaster.ShowWarning("Por favor verifica los datos, no se logró enviar el formulario");
            }
        }

        catch
        {
            toaster.ShowError("Hubo un error desconocido, intenta nuevamente más tarde");

#if DEBUG
            throw;
#endif
        }

        finally
        {
            Cargando = false;
        }
    }
}
