@inject HttpClient http
@inject NavigationManager navegador
@inject IToastService toaster

@attribute [Authorize(Roles = "solicitar")]

@page "/cliente/registrar"
@layout AppLayout

<div class="level">
    <div class="level-left">
        <h3 class="title is-3">Registrar cliente</h3>
    </div>
    <div class="level-right">
        <nav class="breadcrumb is-small">
            <ul>
                <li><a href="/cliente">Cliente</a></li>
                <li class="is-active"><a href="#">Registrar</a></li>
            </ul>
        </nav>
    </div>
</div>
<hr />

<EditForm Model="Cliente" OnValidSubmit="Enviar">
    <DataAnnotationsValidator />

    <div class="columns is-mobile">
        <div class="column is-half">
            <FormField Label="Rut">
                <NumberField id="rut" @bind-Value="Cliente.Rut" placeholder="######" />
                <FormFeedback For="() => Cliente.Rut" />
            </FormField>
        </div>

        <div class="column is-half">
            <FormField Label="Nombre">
                <TextField id="nombre" @bind-Value="Cliente.Nombre" placeholder="Tienda de la esquina" />
                <FormFeedback For="() => Cliente.Nombre" Help="Nombre de la empresa" />
            </FormField>
        </div>
    </div>

    <div class="columns is-mobile">
        <div class="column is-half">
            <FormField Label="Encargado">
                <TextField id="encargado" @bind-Value="Cliente.Encargado" placeholder="Carlos Villegas" />
                <FormFeedback For="() => Cliente.Encargado" Help="Nombre del encargado de la empresa" />
            </FormField>
        </div>

        <div class="column is-half">
            <FormField Label="Dirección">
                <TextField id="direccion" @bind-Value="Cliente.Direccion" placeholder="Calle 94b # 30c - 15" />
                <FormFeedback For="() => Cliente.Direccion" Help="Calle, Carrera, Avenida, Diagonal" />
            </FormField>
        </div>
    </div>

    <FormField Label="Correo Electrónico">
        <EmailField id="correo" @bind-Value="Cliente.Correo" placeholder="ejemplo@ejemplo.com" />
        <FormFeedback For="() => Cliente.Correo" Help="Dato de contacto" />
    </FormField>

    <FormField Label="Teléfono">
        <PhoneField id="telefono" @bind-Value="Cliente.Telefono" placeholder="######" />
        <FormFeedback For="() => Cliente.Telefono" Help="Dato de contacto" />
    </FormField>
  
    <FormField>
        <CheckboxField @bind-Value="Cliente.Activo">
            <span>¿Va a estar activo en el sistema?</span>
        </CheckboxField>
    </FormField>

    <div class="content">
        <h6 class="subtitle is-6">Al registrar aceptas nuestros <a href="/terminos">Términos y condiciones de privacidad</a></h6>
    </div>

    <div class="level">
        <div class="level-left">
            <span></span>
        </div>
        <div class="level-right">
            <FormButtons IsLoading="Cargando">
                <CancelButton To="/cliente">Cancelar</CancelButton>
                <SubmitButton>Registrar</SubmitButton>
            </FormButtons>
        </div>
    </div>
</EditForm>

@code {
    private Cliente Cliente = new Cliente();
    private bool Cargando = false;

    private async Task<bool> UserAlreadyExist()
    {
        var response = await http.GetAsync($"/api/cliente/rut/{Cliente.Rut}");
        return response.IsSuccessStatusCode;
    }

    private async Task Enviar()
    {
        Cargando = true;

        try
        {
            if (await UserAlreadyExist())
            {
                toaster.ShowWarning("Ya hay un cliente registrado con ese número de RUT");
            }

            else
            {
                var respuesta = await http.PostAsJsonAsync("/api/cliente", Cliente);

                if (respuesta.IsSuccessStatusCode)
                {
                    navegador.NavigateTo("/cliente");
                    toaster.ShowSuccess("Datos registrados correctamente");
                }

                else
                {
                    toaster.ShowWarning("Por favor verifica los datos, no se logró enviar el formulario");
                }
            }
        }

        catch
        {
            toaster.ShowError("Hubo un error desconocido, intenta más tarde");

#if DEBUG
            throw;
#endif
        }

        finally
        {
            Cargando = false;
        }
    }
}