@inject HttpClient http

@page "/producto"
@layout AppLayout

<h3>Listar Productos</h3>

@if (productos is null)
{
    <div class="loader is-medium"></div>
}

else
{
    <a href="/producto/registrar" class="button is-primary">Agregar</a>
    <div class="grid xs-1 md-2 has-gap">
        @foreach (Producto producto in productos)
        {
            <TarjetaProducto producto="producto" OnProductoEliminado="ObtenerListado"></TarjetaProducto>
        }
    </div>
}

@code {
    Producto[] productos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await ObtenerListado();
    }

    async Task ObtenerListado()
    {
        try {
            productos = await http.GetFromJsonAsync<Producto[]>("/api/producto");
        }

        catch (Exception ex) {
            productos = new Producto[0];
            Console.WriteLine(ex.ToString());
        }
    }
}

