@inject NavigationManager navegador

<button type="submit" class="button @(IsLoading ? "is-loading" : "")" disabled="@IsLoading" @onclick="ButtonClicked">
    @if (Icon is string)
    {
        <span class="icon is-small">
            <ion-icon name="@Icon"></ion-icon>
        </span>
    }

    <span>@ChildContent</span>
</button>

@code {
    [Parameter]
    public string GoTo { get; set; } = null!;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Icon { get; set; } = string.Empty;

    [CascadingParameter]
    public bool IsLoading { get; set; } = false;

    [Parameter]
    public EventCallback OnClick { get; set; }

    private void ButtonClicked()
    {
        if (OnClick.HasDelegate)
        {
            OnClick.InvokeAsync(null);
        }

        else
        {
            navegador.NavigateTo(GoTo, forceLoad: true);
        }
    }
}