@inject NavigationManager navegador

<button type="button" class="button is-light" disabled="@IsLoading" @onclick="ButtonClicked">
    @if (Icon is string)
    {
        <span class="icon is-small">
            <box-icon name="@Icon"></box-icon>
        </span>
    }

    <span>@ChildContent</span>
</button>

@code {
    [Parameter]
    public string To { get; set; } = "/";

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [CascadingParameter]
    public bool IsLoading { get; set; } = false;

    [Parameter]
    public EventCallback OnClick { get; set; }

    private void ButtonClicked()
    {
        if (OnClick.HasDelegate)
        {
            OnClick.InvokeAsync(null);
        }

        else
        {
            navegador.NavigateTo(To, forceLoad: true);
        }
    }
}