@inherits FieldBase<string>

<div class="control">
    <input type="text" @attributes="AdditionalAttributes" pattern="^\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$" class="@CssClass" @bind="CurrentValue" />
</div>