@inherits FieldBase<string>

<div class="control">
    <input type="text" @attributes="AdditionalAttributes" pattern="^\w+([-+.']\w+)*@@\w+([-.]\w+)*\.\w+([-.]\w+)*$" class="input @ControlCssClass()" @bind="CurrentValue" />
</div>