<div class="field">
    @if (Label is string)
    {
        <label class="label">@Label</label>
    }

    <CascadingValue Value="IsLoading">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter]
    public string Label { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool IsLoading { get; set; } = false;
}
