@inherits FieldBase<string>

<div class="field has-addons">
    <div class="control is-expanded">
        <input type="@(Hidden ? "password" : "text")" @attributes="AdditionalAttributes" class="input @ControlCssClass()" @bind="CurrentValue" />
    </div>

    @if (!HiddenOnly)
    {
        <div class="control">
            <div class="button" @onclick="ToggleHide">
                <box-icon name="@(Hidden ? "show" : "hide")"></box-icon>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public bool HiddenOnly { get; set; } = false;

    private bool Hidden { get; set; } = true;

    void ToggleHide()
    {
        Hidden = !Hidden;
    }
} 