<button type="submit" class="button is-primary @(IsLoading ? "is-loading" : "")" disabled="@(Disabled || IsLoading)">
    @if (Icon is string)
    {
        <span class="icon is-small">
            <ion-icon name="@Icon"></ion-icon>
        </span>
    }

    <span>@ChildContent</span>
</button>

@code {
    [CascadingParameter]
    private EditContext EditContext { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Icon { get; set; }

    [CascadingParameter]
    public bool IsLoading { get; set; } = false;

    private bool Disabled { get; set; } = false;

    protected override void OnInitialized()
    {
        EditContext.OnValidationStateChanged += ValidationStateChange;
    }

    private void ValidationStateChange(object sender, ValidationStateChangedEventArgs args)
    {
        Disabled = EditContext.GetValidationMessages().Any();
    }
}
