@inject HttpClient http

@attribute [Authorize(Roles = "usuarios")]

@page "/usuario"
@layout AppLayout

<h2 class="title is-2">Usuarios</h2>

@if (Cargando)
{
    <div class="loader"></div>
}

else
{
    <div class="columns is-desktop is-multiline">
        @foreach(var usuario in ListadoUsuarios)
        {
            <TarjetaUsuario Usuario="usuario" />
        }
    </div>
} 

@code {
    private Usuario[] ListadoUsuarios;
    private bool Cargando = true;

    protected override async Task OnInitializedAsync()
    {
        await ObtenerListado();
    }

    private async Task ObtenerListado()
    {
        Cargando = true;

        try
        {
            ListadoUsuarios = await http.GetFromJsonAsync<Usuario[]>($"/api/usuario");
        }

        catch
        {
            ListadoUsuarios = null;
            #if DEBUG
            throw;
            #endif
        }

        finally
        {
            Cargando = false;
        }
    }
}