@inject HttpClient http
@inject IToastService toaster

<div class="column is-one-third">
    <div class="card">
        <div class="card-content">
            <h6 class="title is-6">@(Usuario.TipoDocumento) @(Usuario.Documento)</h6>
            <p>Nombre: @(Usuario.Nombre) @(Usuario.Apellido)</p>

            <div class="tags">
                @if (Usuario.Activo)
                {
                    <div class="tag is-success">Activo</div>
                }

                else
                {
                    <div class="tag is-warning">Inactivo</div>
                }
            </div>
        </div>

        <footer class="card-footer">
            <a class="card-footer-item">Modificar</a>
            <a class="card-footer-item" @onclick="Eliminar">Eliminar</a>
        </footer>
    </div>
</div>

@code {
    [Parameter]
    public Usuario Usuario { get; set; }

    private void Eliminar()
    {

    }
}