@page "/inicio"
@layout AppLayout

<h1>@tiempo</h1>

<div class="grid has-gap">
    <a href="/usuario">Usuario</a>
</div>

@code {
    string tiempo {
        get {
            int hora = DateTime.Now.Hour;

            if (hora < 12) {
                return "Buenos dias";
            }

            else if (hora < 19) {
                return "Buenas tardes";
            }

            else {
                return "Buenas tardes";
            }
        }
    }
}
