@page "/inicio"
@layout AppLayout

@inject HttpClient http

@if (usuario is null) {
    <h3>@tiempo</h3>
}

else {
    <h3>@tiempo, @usuario.Nombre.ToCapitalize()</h3>
}

<div class="grid has-gap">
    <a href="/usuario">Usuario</a>
    <a href="/cargo">Cargo</a>
    <a href="/producto">Producto</a>
    <a href="/categoria">Categoria</a>
    <a href="/entrada">Entrada</a>
    <a href="/cliente">Cliente</a>
    <a href="/notificacion">Notificacion</a>
</div>

@code {
    string tiempo {
        get {
            int hora = DateTime.Now.Hour;

            if (hora < 12) {
                return "Buenos dias";
            }

            else if (hora < 19) {
                return "Buenas tardes";
            }

            else {
                return "Buenas tardes";
            }
        }
    }

    Usuario usuario { get; set; }

    protected override async Task OnInitializedAsync() {
        try {
            usuario = await http.GetFromJsonAsync<Usuario>("/api/sesion");
        }

        catch {
            usuario = null;
        }
    }
}
