@page "/"

@inject HttpClient http
@inject ILocalStorageService localStorage
@inject NavigationManager navegador
@layout BaseLayout

<h1>Login</h1>

@if (mensaje is string) {
	<blockquote>
		<p>@mensaje</p>
	</blockquote>
}

<div class="grid has-gap">
	<div class="field">
		<label>Documento</label>

		<div class="control is-attached">
			<span class="button is-static">CC</span>
			<input type="text" pattern="[0-9]*" @bind="documento" placeholder="###" class="input" />
		</div>

		<small>Número de cédula de ciudadanía</small>
	</div>

	<div class="field">
		<label>Clave</label>
		<input type="password" @bind="clave" placeholder="###" class="input" />
	</div>

	<div class="field">
		<div class="control is-grouped">
			@if (cargando) {
				<button class="is-prime has-loader" disabled>Ingresar</button>
			}

			else {
				<button class="is-prime" @onclick="IniciarSesion">Ingresar</button>
			}
		</div>
	</div>
</div>

@code {
	string documento;
	string clave;

	string mensaje;
	bool cargando;

	private async Task IniciarSesion() {
		mensaje = null;
		cargando = true;

		var respuesta = await http.PostAsJsonAsync("/api/sesion", new { documento, clave });

		if (respuesta.IsSuccessStatusCode) {
			var token = await respuesta.Content.ReadAsStringAsync();
			await localStorage.SetItemAsync("token", token);

			navegador.NavigateTo("/inicio");
		}

		else {
			mensaje = "Revisa tus credenciales";
		}

		cargando = false;
	}
}