@inject HttpClient http

@page "/usuario"
@layout AppLayout

@if (cargando) {
    <div class="loader is-medium"></div>
}

else if (!autorizado) {
    <p>Oops... no estas autorizado.</p>
}

else {
    @if (lista is null) {
        <p>Hubo un error cargando la lista</p>
    }

    else {
        <div class="grid has-gap xs-1 md-2">
            @foreach(var usuario in lista) {
                <TarjetaUsuario usuario="usuario" onDeleted="ObtenerListado" />
            }
        </div>
    }
}

@code {
    Usuario[] lista { get; set; }

    bool cargando = true;
    bool autorizado = false;

    protected override async Task OnInitializedAsync() {
        await ObtenerListado();
    }

    private async Task ObtenerListado() {
        cargando = true;
        HttpResponseMessage respuesta = await http.GetAsync("/api/usuario");

        try {
            if (respuesta.StatusCode == HttpStatusCode.OK) {
                lista = await respuesta.Content.ReadFromJsonAsync<Usuario[]>();
                autorizado = true;
            }

            else {
                lista = null;
            }
        }

        catch (Exception ex) {
            lista = null;
            Console.WriteLine(ex);
        }

        finally {
            cargando = false;
        }
    }
}