@inject HttpClient http
@inject NavigationManager navegador

@page "/usuario/modificar/{Id:int}"
@layout AppLayout

<h2>Registrar usuario</h2>

@if (mensaje is string) {
    <blockquote class="is-warn">
        <p>@mensaje</p>
    </blockquote>
}

<form @onsubmit="Enviar" @onsubmit:preventDefault>
    <div class="grid xs-1 md-2 has-gap">
        <div class="field">
            <label>Tipo de documento</label>
            <input type="text" class="input" @bind="usuario.TipoDocumento" disabled readonly />
        </div>

        <div class="field">
            <label>Documento</label>
            <input type="number" placeholder="###" class="input" @bind="usuario.Documento" disabled readonly />
        </div>

        <div class="field">
            <label>Nombre</label>
            <input type="text" placeholder="Ej. Andres" class="input" @bind="usuario.Nombre" required />
        </div>

        <div class="field">
            <label>Apellido</label>
            <input type="text" placeholder="Ej. Celis" class="input" @bind="usuario.Apellido" required />
        </div>

        <div class="field">
            <label>Correo</label>
            <input type="email" placeholder="correo@dominio.com" class="input" @bind="usuario.Correo" required />
        </div>

        <div class="field">
            <label>Teléfono</label>
            <div class="control is-attached">
                <span class="button is-static">+57</span>
                <input type="tel" placeholder="###" minlength="7" class="input" @bind="usuario.Telefono" required />
            </div>
        </div>

        <div class="field">
            <label>Cargo</label>
            <select class="input" @bind="usuario.Cargo" min="1" required>
                <option value="0" disabled>Seleccionar...</option>

                @foreach (Cargo cargo in cargos) {
                    <option value="@cargo.Id">@(cargo.Nombre.ToCapitalize())</option>
                }
            </select>
        </div>
    </div>

    <div class="field">
        <div class="control is-grouped">
            @if (cargando) {
                <button class="is-prime has-loader" disabled>Registrar</button>
            }

            else {
                <button class="is-prime" disabled="@documentoYaExiste">Guardar</button>
            }

            <a href="/usuario" class="button is-outline">Volver</a>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public int Id { get; set; }

    Cargo[] cargos { get; set; } = new Cargo[0];
    Usuario usuario { get; set; } = new Usuario();

    Array tiposDeDocumento = Enum.GetValues(typeof(TipoDocumento));

    bool cargando = false;
    bool documentoYaExiste = false;
    string mensaje;

    protected override async Task OnInitializedAsync() {
        cargos = await http.GetFromJsonAsync<Cargo[]>("/api/cargo");
        usuario = await http.GetFromJsonAsync<Usuario>($"/api/usuario/{Id}");
    }

    async Task Enviar() {
        cargando = true;

        try {
            HttpResponseMessage respuesta = await http.PutAsJsonAsync($"/api/usuario/{Id}", usuario);

            if (respuesta.IsSuccessStatusCode) {
                navegador.NavigateTo("/usuario");
            }

            else {
                mensaje = "No se logro realizar el registro";
            }
        }

        catch {
            mensaje = "Hubo un error insertando el registro";
        }

        finally {
            cargando = false;
        }
    }
}
