@inject HttpClient http
@inject NavigationManager navegador

@page "/cliente"
@page "/cliente/{busqueda}"
@layout AppLayout

<AuthorizeView Roles="clientes">
    <Authorized>
        @if (cargando)
        {
            <div class="loader is-medium"></div>

        }
        else
        {
            <h2>Listar clientes</h2>

            <a class="button is-primary" href="/cliente/registrar">Registrar cliente</a>
            @if (lista is null)
            {
                <p>Algo salio muy mal...</p>
            }
            else
            {
            <div class="grid has-gap xs-1 md-2">
                @foreach (var cliente in lista)
                {
                    <TarjetaCliente cliente="cliente" onDeleted="ObtenerListado" />
                }
            </div>
            }
        }
    </Authorized>

    <NotAuthorized>
        <p>Oops... parece que no tienes permisos para estar aquí</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    Cliente[] lista { get; set; }

    bool cargando = true;

    [Parameter]
    public string busqueda { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await ObtenerListado();
    }

    private async Task ObtenerListado()
    {
        cargando = true;
        HttpResponseMessage respuesta = await http.GetAsync($"/api/cliente?buscar={busqueda}");

        try
        {
            if (respuesta.StatusCode == HttpStatusCode.OK)
            {
                lista = await respuesta.Content.ReadFromJsonAsync<Cliente[]>();
            }

            else
            {
                lista = null;
            }
        }

        catch (Exception ex)
        {
            lista = new Cliente[0];
            Console.WriteLine(ex);
        }

        finally
        {
            cargando = false;
        }
    }
}
