@inject NavigationManager navegador
@inject HttpClient http

<div class="control is-grouped">
    <select class="input" @bind="detalle.Producto">
        <option value="0" default readonly>Seleccionar...</option>
        @foreach (Producto producto in productos)
        {
            <option value="@producto.Id">@producto.Nombre.ToCapitalize()</option>
        }
    </select>

    <input class="input" type="number" @bind="detalle.Cantidad" />

    <button @onclick="Eliminar" class="is-ghost">Quitar</button>
</div>

@code {
    Producto[] productos { get; set; } = new Producto[0];

    [Parameter]
    public DetalleEntrada detalle { get; set; }

    [Parameter]
    public EventCallback<DetalleEntrada> OnDeleted { get; set; }

    protected override async Task OnInitializedAsync()
    {
        productos = await http.GetFromJsonAsync<Producto[]>("/api/producto");
    }

    public void Eliminar()
    {
        if (OnDeleted.HasDelegate)
        {
            OnDeleted.InvokeAsync(detalle);
        }
    }
}