@layout AppLayout
@inject NavigationManager navegador
@inject HttpClient http  

@using Aplicacion.Modelo.Inventarios
@page "/entrada/registrar"

<h3>Registrar entrada</h3>

<div class="form">
    <div class="control">
        <button class="button is-prime" @onclick="AgregarElemento">+ Producto</button>
    </div>

    <div class="field">
        <div class="grid has-gap">
            @foreach (var detalle in detalles)
            {
                <ItemDetalle detalle="detalle" OnDeleted="EliminarElemento" />
            }
        </div>
    </div>

    <div class="field">
        <label for="observacion">Observación</label>
        <textarea id="observacion" class="input" type="text" @bind="entrada.Observacion"></textarea>
        <small>Opcional</small>
    </div>

    <div class="control is-grouped">
        <button class="is-prime" @onclick="Enviar">Registrar</button>
        <a href="/entrada" class="button is-outline">Cancelar</a>
    </div>

</div>

@code {
    Entrada entrada { get; set; } = new Entrada();

    List<DetalleEntrada> detalles = new List<DetalleEntrada>();

    private void AgregarElemento()
    {
        detalles.Add(new DetalleEntrada());
    }

    private void EliminarElemento(DetalleEntrada detalle)
    {
        detalles.Remove(detalle);
    }

    async Task Enviar()
    {
        try
        {
            var formulario = new FormularioRegistrarEntrada()
            {
                Entrada = entrada,
                Detalles = detalles
            };

            var respuesta = await http.PostAsJsonAsync("/api/entrada", formulario);

            if (respuesta.IsSuccessStatusCode)
            {
                navegador.NavigateTo("/entrada");
            }
        }

        catch
        {
            throw; // TODO
        }
    }
}