@inject HttpClient http
@inject IToastService toaster
@inject NavigationManager navegador

@page "/reestablecer"
@layout BaseLayout

@using Aplicacion.Sesiones.Formularios

<h3 class="title is-3">Reestablecer contraseña</h3>

<hr />

<AuthorizeView Context="auth">
    <Authorized>
        <p>No puedes cambiar tu contraseña por reestablecimiento, por favor, ve a <a href="perfil">tu perfil</a> y realiza el cambio de contraseña en la sección correspondiente.</p>
    </Authorized>

    <NotAuthorized>
        <EditForm Model="Formulario" OnValidSubmit="Enviar">
            <DataAnnotationsValidator />

            <FormField Label="Número de documento">
                <TextField @bind-Value="Formulario.Documento" />
                <FormFeedback For="() => Formulario.Documento" Help="Número de documento de identidad (CC o NIT)" />
            </FormField>

            <FormField Label="Fecha de expedición">
                <DateField @bind-Value="Formulario.FechaExpedicion" />
                <FormFeedback For="() => Formulario.FechaExpedicion" Help="Fecha en la que fue expedido su documento" />
            </FormField>

            <FormField Label="Nueva contraseña">
                <PasswordField @bind-Value="Formulario.NuevaClave" />
                <FormFeedback For="() => Formulario.NuevaClave" Help="Minimo 6 caracteres" />
            </FormField>

            <div class="level">
                <div class="level-left"><span></span></div>
                <div class="level-right">
                    <FormButtons>
                        <CancelButton To="/">Cancelar</CancelButton>
                        <SubmitButton>Reestablecer clave</SubmitButton>
                    </FormButtons>
                </div>
            </div>
        </EditForm>
    </NotAuthorized>
</AuthorizeView>

@code {
    private FormularioReestablecerClave Formulario = new FormularioReestablecerClave();
    private bool Cargando = false;

    private async Task Enviar()
    {
        Cargando = true;

        try
        {
            var respuesta = await http.PutAsJsonAsync("/api/sesion/reestablecer_clave", Formulario);

            if (respuesta.IsSuccessStatusCode)
            {
                navegador.NavigateTo("/iniciar_sesion");
            }

            else
            {
                toaster.ShowWarning("Por favor verifica los datos, no se logró enviar el formulario");
            }
        }

        catch
        {
            toaster.ShowError("Hubo un error desconocido, intenta más tarde");
            #if DEBUG
            throw;
            #endif
        }

        finally
        {
            Cargando = false;
        }
    }
}