@page "/bandeja"
@layout AppLayout

@attribute [Authorize]

@inject HttpClient http

<h3 class="title is-3">Bandeja de Entrada</h3>

@if (notificaciones == null)
{
    <div class="loader"></div>
}

else
{
    <div class="columns is-multiline">
        @foreach (var notificacion in notificaciones)
        {
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <TarjetaBandeja Notificacion="notificacion"></TarjetaBandeja>
            </div>
        }
    </div>
}

@code {
    private Notificacion[] notificaciones { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            notificaciones = await http.GetFromJsonAsync<Notificacion[]>($"/api/notificacion");
        }

        catch
        {
            notificaciones = new Notificacion[0];
#if DEBUG
            throw;
#endif
        }
    }
}

