@inject HttpClient http
@page "/bandeja"
@layout AppLayout

<AuthorizeView Context="auth">
    <Authorized>
        <h3 class="title is-3">Bandeja de Entrada</h3>

        @if (notificaciones == null)
        {
            <p>No hay notificaciones disponibles</p>
            <div class="is-loading"></div>
        }
        else
        {
            <div class="columns is-multiline">
                @foreach (Notificacion notificacion in notificaciones)
                {
                    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                        <TarjetaBandeja notificacion="notificacion"></TarjetaBandeja>
                    </div>
                }
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <h2>No tienes permisos para acceder a esta vista</h2>
    </NotAuthorized>
</AuthorizeView>

@code {
    Notificacion[] notificaciones { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            notificaciones = await http.GetFromJsonAsync<Notificacion[]>($"/api/notificacion");
        }

        catch
        {
            notificaciones = new Notificacion[0];
            throw;
        }
    }
}

