@inject HttpClient http

@using Infraestructura.Notificaciones.Vistas; 

<div class="card">
    <div class="card-content">
        <div class="content">
            @if (!(Segmentos is null))
            {
                <div class="tags">
                    @foreach (var segmento in Segmentos)
                    {
                        <TarjetaSegmento segmento="segmento"></TarjetaSegmento>
                    }
                </div>
            }

            <p>@Notificacion.Texto</p>
            <p><span>@( Autor?.Nombre ?? "Sistema" )</span></p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Notificacion Notificacion { get; set; }

    private Segmento[] Segmentos;
    private Usuario Autor;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Segmentos = await http.GetFromJsonAsync<Segmento[]>($"/api/segmento/notificacion/{Notificacion.Id}");

            if (Notificacion.Autor != 0)
            {
                Autor = await http.GetFromJsonAsync<Usuario>($"/api/usuario/{Notificacion.Autor}");
            }
        }

        catch
        {
#if DEBUG
            throw;
#endif
        }
    }
}