@inject HttpClient http
@inject NavigationManager navegador
@using Infraestructura.Notificaciones.Vistas; 

<div class="card">
    <div class="card-content">
        <div class="content">
            <div class="field">
                @foreach (var segmento in segmentos)
                {
                    <TarjetaSegmento segmento="segmento"></TarjetaSegmento>
                }
            </div>
            <p>@Notificacion.Texto</p>
            <p><span>@(autor?.Nombre ?? "Sistema")</span></p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Notificacion Notificacion { get; set; }

    private Segmento[] segmentos = new Segmento[0];
    private Usuario autor;

    protected override async Task OnInitializedAsync()
    {
        segmentos = await http.GetFromJsonAsync<Segmento[]>($"/api/segmento/notificacion/{Notificacion.Id}");

        if (Notificacion.Autor != 0)
        {
            autor = await http.GetFromJsonAsync<Usuario>($"/api/usuario/{Notificacion.Autor}");
        }
    }
}