@inherits FieldBase<string>

<div class="control">
    <input type="text" pattern="^\w(.\w)*@@[\w-](.\w)+$" @attributes="AdditionalAttributes" class="input @ControlCssClass()" @bind="CurrentValue" />
</div>