@inject HttpClient http
@inject AuthenticationStateProvider autentificacion

<EditForm Model="@Usuario" OnValidSubmit="Enviar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <FormField Label="Nombre">
        <TextField id="nombre" @bind-Value="Usuario.Nombre" />
        <FormFeedback For="() => Usuario.Nombre" />
    </FormField>

    <FormField Label="Apellido">
        <TextField id="apellido" @bind-Value="Usuario.Apellido" />
        <FormFeedback For="() => Usuario.Apellido" />
    </FormField>

    <FormField Label="Correo">
        <EmailField id="correo" @bind-Value="Usuario.Correo" />
        <FormFeedback For="() => Usuario.Correo" />
    </FormField>

    <FormField Label="Correo">
        <NumberField id="telefono" @bind-Value="Usuario.Telefono" />
        <FormFeedback For="() => Usuario.Telefono" />
    </FormField>

    <div class="field">
        <div class="control">
            @if (Guardando)
            {
                <button class="button is-primary is-loading" disabled>Actualizar perfil</button>
            }

            else
            {
                <button type="submit" class="button is-primary">Actualizar perfil</button>
            }
        </div>
    </div>
</EditForm>

@code {
    private Usuario Usuario { get; set; } = new Usuario();
    private bool Guardando { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Usuario = await http.GetFromJsonAsync<Usuario>($"/api/sesion");
        }

        catch
        {
            throw;
        }
    }

    private async Task Enviar()
    {
        Guardando = true;

        try
        {
            await http.PutAsJsonAsync<Usuario>($"/api/sesion", Usuario);
        }

        catch
        {
            throw;
        }

        finally
        {
            Guardando = false;
        }
    }
}
