@inject HttpClient http 

<div class="field">
    <FormField Label="Cargo">
        <SelectField @bind-Value="segmento.Cargo" Context="cargo" Data="cargos">
            <option value="@cargo.Id">@(cargo.Nombre.ToCapitalize())</option>
        </SelectField>
        <FormFeedback Help="Esto define a quien se dirijirá la notificación" For="() => segmento.Cargo" />
    </FormField>
    <div class="field">
        <button class="button is-primary is-light is-small" @onclick="Eliminar">Quitar</button>
    </div>
</div>

@code {
    [Parameter]
    public Segmento segmento { get; set; }

    [Parameter]
    public Cargo[] cargos { get; set; } = new Cargo[0];

    [Parameter]
    public EventCallback<Segmento> OnDeleted { get; set; }

    protected override async Task OnInitializedAsync()
    {
        cargos = await http.GetFromJsonAsync<Cargo[]>("/api/cargo");
    }

    public void Eliminar()
    {
        if (OnDeleted.HasDelegate)
        {
            OnDeleted.InvokeAsync(segmento);
        }
    }
}
