@inject HttpClient http
@page "/notificacion"
@layout AppLayout
@attribute [Authorize(Roles = "usuarios")]

<div class="level">
    <div class="level-left">
        <h3 class="title is-3">Notificaciones</h3>
    </div>
    <div class="level-reght">
        <div class="buttons">
            <a href="/notificacion/registrar" class="button is-primary">
                <span class="icon">
                    <box-icon name='plus'></box-icon>
                </span>
                <span>Nuevo</span>
            </a>
        </div>
    </div>
</div>
<hr />

@if (notificaciones == null)
{
    <div class="loader is-medium"></div>
}
else
{
    <div class="columns is-multiline">
        @foreach (Notificacion notificacion in notificaciones)
        {
            <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
                <TarjetaNotificacion notificacion="notificacion" OnNotificacionEliminada="ObtenerListado"></TarjetaNotificacion>
            </div>
        }
    </div>
}

@code {
    Notificacion[] notificaciones { get; set; }


    protected override async Task OnInitializedAsync()
    {
        await ObtenerListado();
    }

    async Task ObtenerListado()
    {
        try
        {
            notificaciones = await http.GetFromJsonAsync<Notificacion[]>($"/api/notificacion/autor");
        }

        catch
        {
            notificaciones = new Notificacion[0];
            throw;
        }
    }
}
