@inject HttpClient http
@inject NavigationManager navegador

@page "/notificacion/modificar/{Id:int}"
@layout AppLayout

<AuthorizeView>
    <Authorized>
        <h3 class="title is-3">Editar notificacion</h3>

        <form @onsubmit="Enviar">
            <div class="field">
                <label class="label" for="texto">Mensaje</label>
                <input id="texto" class="input" type="text" @bind="notificacion.Texto" required />
            </div>
            <div class="field">
                <label class="label" for="inicio">Fecha de inicio</label>
                <input id="inicio" class="input" type="datetime-local" @bind="notificacion.FechaInicio" @bind:format="@CultureInfo.CurrentCulture.DateTimeFormat.SortableDateTimePattern" step="1" required />
            </div>
            <div class="field">
                <label class="label" for="fin">Fecha de finalización</label>
                <input id="fin" class="input" type="datetime-local" @bind="notificacion.FechaFin" @bind:format="@CultureInfo.CurrentCulture.DateTimeFormat.SortableDateTimePattern" step="1" required />
            </div>
            <div class="field">
                <label class="label">Autor</label>
                <select class="input" @bind="notificacion.Autor" disabled required>
                    @foreach (Usuario usuario in usuarios)
                    {
                        <option value="@usuario.Id" disabled>@(usuario.Nombre.ToCapitalize())</option>
                    }
                </select>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary">Actualizar</button>
                    <a href="/notificacion" class="button is-outlined">Cancelar</a>
                </div>
            </div>
        </form>
    </Authorized>
    <NotAuthorized>
        <h2>No tienes permisos para acceder a esta vista</h2>
    </NotAuthorized>
</AuthorizeView>

@code {
    Usuario[] usuarios { get; set; } = new Usuario[0];

    Notificacion notificacion { get; set; } = new Notificacion();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        usuarios = await http.GetFromJsonAsync<Usuario[]>("/api/usuario");
        notificacion = await http.GetFromJsonAsync<Notificacion>($"/api/notificacion/{Id}");
    }

    async Task Enviar()
    {
        HttpResponseMessage respuesta = await http.PutAsJsonAsync($"/api/notificacion/{Id}", notificacion);

        if (respuesta.IsSuccessStatusCode)
        {
            navegador.NavigateTo("/notificacion");
        }
    }
}
