@using System.Security.Claims
@using static System.Globalization.CultureInfo
@using Aplicacion.Notificaciones 

@inject HttpClient http
@inject NavigationManager navegador
@inject AuthenticationStateProvider autentificacion

@page "/notificacion/registrar"
@layout AppLayout

    <AuthorizeView>
        <Authorized>
            <h3 class="title is-3">Registrar nueva notificacion</h3>
            <div class="form">
                <div class="field">
                    <div class="control">
                        <button class="button is-primary" @onclick="AgregarElemento">+ Producto</button>
                    </div>
                </div>

                <div class="field">
                    <div class="columns is-multiline">
                        @foreach (var segmento in segmentos)
                        {
                            <div class="column is-full-mobile">
                                <ItemSegmento cargos="cargos" segmento="@segmento" OnDeleted="EliminarElemento" />
                            </div>
                        }
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="texto">Mensaje</label>
                    <input id="texto" class="input" type="text" @bind="notificacion.Texto" required />
                </div>

                <div class="field">
                    <label class="label" for="inicio">Fecha de inicio</label>
                    <input id="inicio" class="input" type="datetime-local" @bind="notificacion.FechaInicio" @bind:format="@CurrentCulture.DateTimeFormat.SortableDateTimePattern" step="1" required disabled />
                </div>

                <div class="field">
                    <label class="label" for="fin">Fecha de finalización</label>
                    <input id="fin" class="input" type="datetime-local" @bind="notificacion.FechaFin" @bind:format="@CurrentCulture.DateTimeFormat.SortableDateTimePattern" step="1" required />
                    <div>
                        @if (notificacion.FechaFin < notificacion.FechaInicio)
                        {
                            <div class="notification is-danger">
                                <button class="delete" aria-label="delete"></button>
                                La fecha de caducidad no puede ser menor al dia actual. Intente nuevamente
                            </div>
                        }
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        @if (cargando)
                        {
                            <button class="button is-primary is-loading" disabled>Registrar</button>
                        }

                        else
                        {
                            <button class="button is-primary" @onsubmit="Enviar">Registrar</button>
                        }
                        <a href="/notificacion" class="button is-outlined">Cancelar</a>
                    </div>
                </div>
            </div>
        </Authorized>
        <NotAuthorized>
            <h2>No tienes permisos para acceder a esta vista</h2>
        </NotAuthorized>
    </AuthorizeView>

@code {

        Notificacion notificacion { get; set; } = new Notificacion();

        bool cargando = false;

        Usuario[] usuarios { get; set; } = new Usuario[0];

        List<Segmento> segmentos = new List<Segmento>();

        Cargo[] cargos = new Cargo[0];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            usuarios = await http.GetFromJsonAsync<Usuario[]>("/api/usuario");
            cargos = await http.GetFromJsonAsync<Cargo[]>("/api/cargo");
        }

        catch
        {
            usuarios = new Usuario[0];
            cargos = new Cargo[0];
        }
    }

    private void AgregarElemento()
    {
        segmentos.Add(new Segmento());
    }

    private void EliminarElemento(Segmento segmento)
    {
        segmentos.Remove((Segmento)segmento);
    }


    async Task Enviar()
    {
        cargando = true;

        try
        {
            var estado = await autentificacion.GetAuthenticationStateAsync();
            var serial = estado.User.FindFirst(ClaimTypes.SerialNumber);

            if (serial is null)
            {
                // TODO
            }

            else
            {
                int id = int.Parse(serial.Value);
                notificacion.Autor = id;

                var formulario = new FormularioRegistrarNotificacion()
                {
                    Notificacion = notificacion,
                    Segmentos = segmentos
                };

                var respuesta = await http.PostAsJsonAsync("/api/notificacion", formulario);

                if (respuesta.IsSuccessStatusCode)
                {
                    navegador.NavigateTo("/notificacion");
                }
            }
        }

        catch
        {
            // TODO
        }

        finally
        {
            cargando = false;
        }
    }
}
