@inject HttpClient http

<span class="tag is-primary is-rounded">
    @( Cargando ? "Espere..." : Cargo?.Nombre ?? "Desconocido" )
</span>

@code {
    [Parameter]
    public Segmento segmento { get; set; }

    private Cargo Cargo;
    private bool Cargando = true;

    protected override async Task OnInitializedAsync()
    {
        Cargando = true;

        try
        {
            Cargo = await http.GetFromJsonAsync<Cargo>($"/api/cargo/{segmento.Cargo}");
        }

        catch
        {
            Cargo = null;

#if DEBUG
            throw;
#endif
        }

        finally
        {
            Cargando = false;
        }
    }
} 