@inject HttpClient http

<div class="detalle">
    @if (cargando)
    {
        <span class="tag is-light">Espere...</span>
    }

    else
    {
        <span class="tag is-info is-light">@(cargo.Nombre.ToCapitalize())</span>
    }
</div>

@code {
    [Parameter]
    public Segmento segmento { get; set; }

    private Cargo cargo;
    private bool cargando = true;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            cargo = await http.GetFromJsonAsync<Cargo>($"/api/cargo/{segmento.Cargo}");
        }

        catch
        {
            cargo = null;
        }

        finally
        {
            cargando = false;
        }
    }
} 