@layout AppLayout
@inject NavigationManager navegador
@inject HttpClient http  

@using Aplicacion.Entradas.Formularios
@page "/entrada/registrar"

<h3>Registrar entrada</h3>

<div class="form">
    <div class="control">
        <button class="button is-primary" @onclick="AgregarElemento">+ Producto</button>
    </div>

    <div class="field">
        <div class="grid has-gap">
            @foreach (var detalle in detalles)
            {
                <ItemDetail listadoProductos="listaProductos" detalle="@detalle" OnDeleted="EliminarElemento" />
            }
        </div>
    </div>

    <div class="field">
        <label for="observacion">Observación</label>
        <textarea id="observacion" class="input" type="text" @bind="entrada.Observacion"></textarea>
        <small>Opcional</small>
    </div>

    <div class="control is-grouped">
        <button class="is-primary" @onclick="Enviar" disabled="@deshabilitar">Registrar</button>
        <a href="/entrada" class="button is-outlined">Cancelar</a>
    </div>

</div>

@code {
    Entrada entrada { get; set; } = new Entrada();

    List<DetalleEntrada> detalles = new List<DetalleEntrada>();

    Producto[] listaProductos = new Producto[0];

    bool deshabilitar
    {
        get
        {
            return listaProductos.Length == 0;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            listaProductos = await http.GetFromJsonAsync<Producto[]>("/api/producto");
        }

        catch
        {
            listaProductos = new Producto[0];
        }
    }

    private void AgregarElemento()
    {
        detalles.Add(new DetalleEntrada());
    }

    private void EliminarElemento(IDetalle detalle)
    {
        detalles.Remove((DetalleEntrada) detalle);
    }

    async Task Enviar()
    {
        try
        {
            var formulario = new FormularioRegistrarEntrada()
            {
                Entrada = entrada,
                Detalles = detalles
            };

            var respuesta = await http.PostAsJsonAsync("/api/entrada", formulario);

            if (respuesta.IsSuccessStatusCode)
            {
                navegador.NavigateTo("/entrada");
            }
        }

        catch
        {
            throw; // TODO
        }
    }
}