@layout AppLayout
@inject NavigationManager navegador
@inject HttpClient http  

@using Aplicacion.Entradas.Formularios
@page "/entrada/registrar"

<AuthorizeView Roles="logistica">
    <Authorized>
        <h3 class="title is-3">Registrar entrada</h3>

        <EditForm Model="entrada" OnValidSubmit="Enviar">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <FormField>
                <div class="control">
                    <button class="button is-primary" @onclick="AgregarElemento">+ Producto</button>
                </div>
            </FormField>

            <FormField>
                @foreach (var detalle in detalles)
                {
                    <CartItem Detail="@detalle" Products="listaProductos" OnDelete="EliminarElemento" />
                }
            </FormField>

            <FormField Label="Observación">
                <TextField id="observacion" @bind-Value="entrada.Observacion"></TextField>
                <FormFeedback For="() => entrada.Observacion" Help="Opcional"></FormFeedback>
            </FormField>

            <FormField IsLoading="cargando">
                <SubmitButton>Registrar</SubmitButton>
                <CancelButton GoTo="/entrada">Cancelar</CancelButton>
            </FormField>

        </EditForm>
    </Authorized>
    <NotAuthorized>
        <p>No tienes permisos para esta vista</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    Entrada entrada { get; set; } = new Entrada();

    bool cargando = false;

    List<DetalleEntrada> detalles = new List<DetalleEntrada>();

    Producto[] listaProductos = new Producto[0];

    bool deshabilitar
    {
        get
        {
            return listaProductos.Length == 0;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            listaProductos = await http.GetFromJsonAsync<Producto[]>("/api/producto");
        }

        catch
        {
            listaProductos = new Producto[0];
        }
    }

    private void AgregarElemento()
    {
        detalles.Add(new DetalleEntrada());
    }

    private void EliminarElemento(IDetalle detalle)
    {
        detalles.Remove((DetalleEntrada) detalle);
    }

    async Task Enviar()
    {
        try
        {
            cargando = true;
            var formulario = new FormularioRegistrarEntrada()
            {
                Entrada = entrada,
                Detalles = detalles
            };

            var respuesta = await http.PostAsJsonAsync("/api/entrada", formulario);

            if (respuesta.IsSuccessStatusCode)
            {
                navegador.NavigateTo("/entrada");
            }
            cargando = false;
        }

        catch
        {
            throw; // TODO
        }
    }
}