@inject HttpClient http
@inject NavigationManager navegador

<div class="card">
    <div class="card-content">
        <div class="content">
            @if (detalles is null)
            {
                <p>Espere...</p>
            }

            else
            {
                <p>@detalles.Count() Productos(s). <button class="button is-small is-primary is-outlined" @onclick="AbrirModal">Ver detalle</button></p>
            }

            @if (mostrarModal)
            {
                <div class="modal is-active">
                    <div class="modal-background"></div>
                    <div class="modal-card message is-primary">
                        <header class="modal-card-head">
                            <span class="modal-card-title"><h5 class="title is-5">Detalle de salida #@entrada.Id</h5></span>
                            <button class="delete" @onclick="CerrarModal" aria-label="close"></button>
                        </header>
                        <section class="modal-card-body">
                            @foreach (var detalle in detalles)
                            {
                                <ProductDetail detalle="@detalle" />
                            }
                        </section>
                    </div>
                </div>
            }

            <p>@entrada.Fecha.ToShortDateString()</p>

            <p>@entrada.Observacion.ToCapitalize()</p>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public Entrada entrada { get; set; }

    [Parameter]
    public EventCallback<Entrada> OnEntradaEliminada { get; set; }

    DetalleEntrada[] detalles { get; set; } = new DetalleEntrada[0];

    #region Modal
    bool mostrarModal = false;

    void AbrirModal() => mostrarModal = true;
    void CerrarModal() => mostrarModal = false;
    #endregion

    protected override async Task OnInitializedAsync()
    {
        detalles = await http.GetFromJsonAsync<DetalleEntrada[]>($"/api/detalleEntrada/entrada/{entrada.Id}");
    }

    void Salida()
    {
        navegador.NavigateTo($"/salida/registrar");
    }
}
