@using Modelo = Centaurus.Modelo.Usuario

@inject HttpClient http

@page "/usuarios"
@layout BaseLayout

<h1>Usuarios</h1>

@if (cargando) {
	<div class="loader is-medium"></div>
}

else if (usuarios is Modelo[]) {
	@if (usuarios.Length == 0) {
		<p>No hay nada por aquí...</p>
	}

	else {
		<div class="grid has-gap xs-1 sm-2">
			@foreach (var usuario in usuarios) {
				<div class="card">
					<p>@usuario.Nombre</p>
					<p>@usuario.Correo</p>

					<div class="control is-grouped">
						<button class="is-prime">Editar</button>
						<button class="is-outline">Borrar</button>
					</div>
				</div>
			}
		</div>
	}
}

else {
	<h2>Oops... hubo un error</h2>
	<p>No se cargo los datos correctamente, intenta <a href="?">recargar la página</a> nuevamente.</p>
}

@code {
	Modelo[] usuarios;
	bool cargando = true;

	protected override async Task OnInitializedAsync() {
		try {
			usuarios = await http.GetFromJsonAsync<Modelo[]>("/api/usuario"); // peticion API
			cargando = false;
		}

		catch (Exception ex) {
			throw ex;
		}
	}
}