@import "counter.css";
@import "layout.css";
@import "start.css";
@import "toasts.css";

html {
    font-size: 11pt;
}

ion-icon {
    font-size: 18px;
    --ionicon-stroke-width: 32px;
    color: rgba(0,0,0,0.8);
}
