@page "/"
@namespace Infraestructura.Vistas
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="es">
<head>
    <title>Aurelia - Inventario y pedidos</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <base href="~/" /> 
    <link rel="stylesheet" href="https://kuic-sena.github.io/estilos/dist/index.css">
    <link rel="stylesheet" href="/css/style.css" />

    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    
    <environment names="Development">
        <script src="/src/vue.js"></script>
    </environment>

    <environment names="Production">
        <script src="/src/vue.min.js"></script>
    </environment>

</head>
<body>
    <component type="typeof(App)" render-mode="Server" />

    <script src="_framework/blazor.server.js" async defer></script>
    <script src="/src/app.js" defer></script>
</body>
</html>
