@using Infraestructura.Vistas.Usuarios.Sesiones

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeView>
                <Authorized>
                    <AuthorizeRouteView RouteData="@routeData"/>
                </Authorized>

                <Authorizing>
                    <div class="loader"></div>
                </Authorizing>

                <NotAuthorized>
                    <LayoutView Layout="@typeof(BaseLayout)">
                        <IniciarSesion/>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(BaseLayout)">
                <p>Oops... todavia no hay nada en esta ruta.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>