@using Infraestructura.Sesiones.Vistas

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeView>
                <Authorized>
                    <AuthorizeRouteView RouteData="@routeData"/>
                </Authorized>

                <Authorizing>
                    <div class="loader"></div>
                </Authorizing>

                <NotAuthorized>
                    <LayoutView Layout="@typeof(BaseLayout)">
                        <IniciarSesion/>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(BaseLayout)">
                <Error />
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>